In [148]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report

## Importing data into pandas dataframe

In [149]:
train_df = pd.read_csv("data/train.csv")
test_df = pd.read_csv("data/test.csv")

In [150]:
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [151]:
test_df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

## Splitting the ticket info to two categories and normalizing the name

In [152]:
processed_train_df = pd.DataFrame()
processed_test_df = pd.DataFrame()

def preprocess(df):
    df = df.copy()
    
    def normalize_name(x):
        return " ".join([v.strip(",()[].\"'") for v in x.split(" ")])
    
    def ticket_number(x):
        return x.split(" ")[-1]
        
    def ticket_item(x):
        items = x.split(" ")
        if len(items) == 1:
            return "NONE"
        return "_".join(items[0:-1])
    
    df["Name"] = df["Name"].apply(normalize_name)
    df["Ticket_number"] = df["Ticket"].apply(ticket_number)
    df["Ticket_item"] = df["Ticket"].apply(ticket_item)                     
    return df
    
processed_train_df = preprocess(train_df)
processed_test_df = preprocess(test_df)

In [153]:
processed_train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Ticket_number,Ticket_item
0,1,0,3,Braund Mr Owen Harris,male,22.0,1,0,A/5 21171,7.2500,NaN,S,21171,A/5
1,2,1,1,Cumings Mrs John Bradley Florence Briggs Thayer,female,38.0,1,0,PC 17599,71.2833,C85,C,17599,PC
2,3,1,3,Heikkinen Miss Laina,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,3101282,STON/O2.
3,4,1,1,Futrelle Mrs Jacques Heath Lily May Peel,female,35.0,1,0,113803,53.1000,C123,S,113803,NONE
4,5,0,3,Allen Mr William Henry,male,35.0,0,0,373450,8.0500,NaN,S,373450,NONE

In [154]:
processed_test_df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Ticket_number,Ticket_item
0,892,3,Kelly Mr James,male,34.5,0,0,330911,7.8292,NaN,Q,330911,NONE
1,893,3,Wilkes Mrs James Ellen Needs,female,47.0,1,0,363272,7.0000,NaN,S,363272,NONE
2,894,2,Myles Mr Thomas Francis,male,62.0,0,0,240276,9.6875,NaN,Q,240276,NONE
3,895,3,Wirz Mr Albert,male,27.0,0,0,315154,8.6625,NaN,S,315154,NONE
4,896,3,Hirvonen Mrs Alexander Helga E Lindqvist,female,22.0,1,1,3101298,12.2875,NaN,S,3101298,NONE

now we have 2 dataframes for training and testing the model

## Preparing the train dataset

In [155]:
train_data = processed_train_df.drop(columns=["PassengerId", "Survived", "Ticket"], inplace=False)
train_data.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked,Ticket_number,Ticket_item
0,3,Braund Mr Owen Harris,male,22.0,1,0,7.2500,NaN,S,21171,A/5
1,1,Cumings Mrs John Bradley Florence Briggs Thayer,female,38.0,1,0,71.2833,C85,C,17599,PC
2,3,Heikkinen Miss Laina,female,26.0,0,0,7.9250,NaN,S,3101282,STON/O2.
3,1,Futrelle Mrs Jacques Heath Lily May Peel,female,35.0,1,0,53.1000,C123,S,113803,NONE
4,3,Allen Mr William Henry,male,35.0,0,0,8.0500,NaN,S,373450,NONE

In [156]:
dummies = pd.get_dummies(train_data["Sex"])
train_data = pd.concat([train_data, dummies], axis=1)
train_data.drop(["Sex"], axis=1, inplace=True)
train_data.head()

,Pclass,Name,Age,SibSp,Parch,Fare,Cabin,Embarked,Ticket_number,Ticket_item,female,male
0,3,Braund Mr Owen Harris,22.0,1,0,7.2500,NaN,S,21171,A/5,False,True
1,1,Cumings Mrs John Bradley Florence Briggs Thayer,38.0,1,0,71.2833,C85,C,17599,PC,True,False
2,3,Heikkinen Miss Laina,26.0,0,0,7.9250,NaN,S,3101282,STON/O2.,True,False
3,1,Futrelle Mrs Jacques Heath Lily May Peel,35.0,1,0,53.1000,C123,S,113803,NONE,True,False
4,3,Allen Mr William Henry,35.0,0,0,8.0500,NaN,S,373450,NONE,False,True

In [157]:
dummies = pd.get_dummies(train_data["Embarked"])
train_data = pd.concat([train_data, dummies], axis=1)
train_data.drop("Embarked", axis=1, inplace=True)
train_data.head()

,Pclass,Name,Age,SibSp,Parch,Fare,Cabin,Ticket_number,Ticket_item,female,male,C,Q,S
0,3,Braund Mr Owen Harris,22.0,1,0,7.2500,NaN,21171,A/5,False,True,False,False,True
1,1,Cumings Mrs John Bradley Florence Briggs Thayer,38.0,1,0,71.2833,C85,17599,PC,True,False,True,False,False
2,3,Heikkinen Miss Laina,26.0,0,0,7.9250,NaN,3101282,STON/O2.,True,False,False,False,True
3,1,Futrelle Mrs Jacques Heath Lily May Peel,35.0,1,0,53.1000,C123,113803,NONE,True,False,False,False,True
4,3,Allen Mr William Henry,35.0,0,0,8.0500,NaN,373450,NONE,False,True,False,False,True

In [158]:
train_data["male"] = train_data["male"].astype(int)
train_data["female"] = train_data["female"].astype(int)
train_data["C"] = train_data["C"].astype(int)
train_data["Q"] = train_data["Q"].astype(int)
train_data["S"] = train_data["S"].astype(int)

In [159]:
def count_cabins(cabin):
    if pd.isna(cabin):  
        return 0
    else:
        return cabin.count(' ') + 1  
    
train_data['num_cabins'] = train_data['Cabin'].apply(count_cabins)

In [160]:
def has_ticket_item(item):
    if item == "NONE":
        return 0
    else:
        return 1
    
train_data['has_ticket_item'] = train_data['Ticket_item'].apply(has_ticket_item)

In [161]:
def ticket_number_to_int(x):
    if x == "LINE":
        return 0
    else:
        return int(x)
    
train_data["Ticket_number"] = train_data["Ticket_number"].apply(ticket_number_to_int)
train_data["Ticket_number"] = train_data["Ticket_number"].astype(int)

In [162]:
for column in train_data.columns:
    if train_data[column].dtype == 'int64':
        train_data[column] = train_data[column].astype('float64')

### Dropping the name

In [163]:
train_data.drop(["Name"], inplace= True, axis= 1)

In [164]:
train_data = train_data[["Pclass", "female", "male", "Age", "SibSp", "Parch", "Fare", "num_cabins", "C", "Q", "S", "Ticket_number", "has_ticket_item"]]

Replacing the Nan values in age columns

In [165]:
nan_count = train_data.isna().sum()

print("Number of NaN values in each column:")
print(nan_count)

Number of NaN values in each column:
Pclass               0
female               0
male                 0
Age                177
SibSp                0
Parch                0
Fare                 0
num_cabins           0
C                    0
Q                    0
S                    0
Ticket_number        0
has_ticket_item      0
dtype: int64

In [166]:
train_data.fillna(train_data["Age"].mean(), inplace=True)

# Results

In [167]:
train_data.head()

,Pclass,female,male,Age,SibSp,Parch,Fare,num_cabins,C,Q,S,Ticket_number,has_ticket_item
0,3.0,0.0,1.0,22.0,1.0,0.0,7.2500,0.0,0.0,0.0,1.0,21171.0,1.0
1,1.0,1.0,0.0,38.0,1.0,0.0,71.2833,1.0,1.0,0.0,0.0,17599.0,1.0
2,3.0,1.0,0.0,26.0,0.0,0.0,7.9250,0.0,0.0,0.0,1.0,3101282.0,1.0
3,1.0,1.0,0.0,35.0,1.0,0.0,53.1000,1.0,0.0,0.0,1.0,113803.0,0.0
4,3.0,0.0,1.0,35.0,0.0,0.0,8.0500,0.0,0.0,0.0,1.0,373450.0,0.0

In [168]:
train_data.dtypes

Pclass             float64
female             float64
male               float64
Age                float64
SibSp              float64
Parch              float64
Fare               float64
num_cabins         float64
C                  float64
Q                  float64
S                  float64
Ticket_number      float64
has_ticket_item    float64
dtype: object

In [169]:
train_data_survived = processed_train_df["Survived"]
train_data_survived = train_data_survived.astype("int64")

train_data_survived.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

# Now, we can create the dataset and model

In [170]:
def survival_model(features, target):
    X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.4)
    
    scaler = StandardScaler()
    X_train_scaled = scaler.fit_transform(X_train)
    X_test_scaled = scaler.transform(X_test)
    
    model = LogisticRegression()
    model.fit(X_train_scaled, y_train)
    
    y_pred = model.predict(X_test_scaled)
    
    accuracy = accuracy_score(y_test, y_pred)
    report = classification_report(y_test, y_pred)
    
    print("Accuracy:", accuracy)
    print("Classification Report:\n", report)
    
    return model

In [171]:

model = survival_model(train_data.values, train_data_survived)

Accuracy: 0.7871148459383753
Classification Report:
               precision    recall  f1-score   support

           0       0.80      0.87      0.83       218
           1       0.76      0.66      0.71       139

    accuracy                           0.79       357
   macro avg       0.78      0.76      0.77       357
weighted avg       0.79      0.79      0.78       357

# Testing the accuracy of model with unseen data (test_df)

### Applying same steps for the test data

In [172]:
test_data = processed_test_df.drop(columns=["PassengerId", "Ticket"], inplace= False)
test_data.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked,Ticket_number,Ticket_item
0,3,Kelly Mr James,male,34.5,0,0,7.8292,NaN,Q,330911,NONE
1,3,Wilkes Mrs James Ellen Needs,female,47.0,1,0,7.0000,NaN,S,363272,NONE
2,2,Myles Mr Thomas Francis,male,62.0,0,0,9.6875,NaN,Q,240276,NONE
3,3,Wirz Mr Albert,male,27.0,0,0,8.6625,NaN,S,315154,NONE
4,3,Hirvonen Mrs Alexander Helga E Lindqvist,female,22.0,1,1,12.2875,NaN,S,3101298,NONE

In [173]:
dummies = pd.get_dummies(test_data["Sex"])
test_data = pd.concat([test_data, dummies], axis=1)
test_data.drop(["Sex"], axis=1, inplace=True)

dummies = pd.get_dummies(test_data["Embarked"])
test_data = pd.concat([test_data, dummies], axis=1)
test_data.drop("Embarked", axis=1, inplace=True)

test_data["male"] = test_data["male"].astype(int)
test_data["female"] = test_data["female"].astype(int)
test_data["C"] = test_data["C"].astype(int)
test_data["Q"] = test_data["Q"].astype(int)
test_data["S"] = test_data["S"].astype(int)

def count_cabins(cabin):
    if pd.isna(cabin):  
        return 0
    else:
        return cabin.count(' ') + 1  
    
test_data['num_cabins'] = test_data['Cabin'].apply(count_cabins)

def has_ticket_item(item):
    if item == "NONE":
        return 0
    else:
        return 1
    
test_data['has_ticket_item'] = test_data['Ticket_item'].apply(has_ticket_item)

def ticket_number_to_int(x):
    if x == "LINE":
        return 0
    else:
        return int(x)
    
test_data["Ticket_number"] = test_data["Ticket_number"].apply(ticket_number_to_int)
test_data["Ticket_number"] = test_data["Ticket_number"].astype(int)

for column in test_data.columns:
    if test_data[column].dtype == 'int64':
        test_data[column] = test_data[column].astype('float64')

name_data = test_data["Name"]
test_data.drop(["Name"], inplace= True, axis= 1)

test_data.fillna(train_data["Age"].mean(), inplace=True)

In [174]:
test_data = test_data[["Pclass", "female", "male", "Age", "SibSp", "Parch", "Fare", "num_cabins", "C", "Q", "S", "Ticket_number", "has_ticket_item"]]
test_data.head()

,Pclass,female,male,Age,SibSp,Parch,Fare,num_cabins,C,Q,S,Ticket_number,has_ticket_item
0,3.0,0.0,1.0,34.5,0.0,0.0,7.8292,0.0,0.0,1.0,0.0,330911.0,0.0
1,3.0,1.0,0.0,47.0,1.0,0.0,7.0000,0.0,0.0,0.0,1.0,363272.0,0.0
2,2.0,0.0,1.0,62.0,0.0,0.0,9.6875,0.0,0.0,1.0,0.0,240276.0,0.0
3,3.0,0.0,1.0,27.0,0.0,0.0,8.6625,0.0,0.0,0.0,1.0,315154.0,0.0
4,3.0,1.0,0.0,22.0,1.0,1.0,12.2875,0.0,0.0,0.0,1.0,3101298.0,0.0

In [175]:
predictions = model.predict(test_data.values)

for name, prediction in zip(name_data, predictions):
    print(f"name: {name[:10]}..., survival prediction {prediction}")

name: Kelly Mr J..., survival prediction 0
name: Wilkes Mrs..., survival prediction 0
name: Myles Mr T..., survival prediction 0
name: Wirz Mr Al..., survival prediction 0
name: Hirvonen M..., survival prediction 0
name: Svensson M..., survival prediction 0
name: Connolly M..., survival prediction 0
name: Caldwell M..., survival prediction 0
name: Abrahim Mr..., survival prediction 0
name: Davies Mr ..., survival prediction 0
name: Ilieff Mr ..., survival prediction 0
name: Jones Mr C..., survival prediction 0
name: Snyder Mrs..., survival prediction 0
name: Howard Mr ..., survival prediction 0
name: Chaffee Mr..., survival prediction 0
name: del Carlo ..., survival prediction 0
name: Keane Mr D..., survival prediction 0
name: Assaf Mr G..., survival prediction 0
name: Ilmakangas..., survival prediction 0
name: Assaf Khal..., survival prediction 0
name: Rothschild..., survival prediction 0
name: Olsen Mast..., survival prediction 0
name: Flegenheim..., survival prediction 0
name: Williams M..., survival prediction 0
name: Ryerson Mr..., survival prediction 0
name: Robins Mr ..., survival prediction 0
name: Ostby Miss..., survival prediction 0
name: Daher Mr S..., survival prediction 0
name: Brady Mr J..., survival prediction 0
name: Samaan Mr ..., survival prediction 0
name: Louch Mr C..., survival prediction 0
name: Jefferys M..., survival prediction 0
name: Dean Mrs B..., survival prediction 0
name: Johnston M..., survival prediction 0
name: Mock Mr Ph..., survival prediction 0
name: Katavelas ..., survival prediction 0
name: Roth Miss ..., survival prediction 0
name: Cacic Miss..., survival prediction 0
name: Sap Mr Jul..., survival prediction 0
name: Hee Mr Lin..., survival prediction 0
name: Karun Mr F..., survival prediction 0
name: Franklin M..., survival prediction 0
name: Goldsmith ..., survival prediction 0
name: Corbett Mr..., survival prediction 0
name: Kimball Mr..., survival prediction 0
name: Peltomaki ..., survival prediction 0
name: Chevre Mr ..., survival prediction 0
name: Shaughness..., survival prediction 0
name: Bucknell M..., survival prediction 0
name: Coutts Mrs..., survival prediction 0
name: Smith Mr L..., survival prediction 0
name: Pulbaum Mr..., survival prediction 0
name: Hocking Mi..., survival prediction 0
name: Fortune Mi..., survival prediction 0
name: Mangiavacc..., survival prediction 0
name: Rice Maste..., survival prediction 0
name: Cor Mr Bar..., survival prediction 0
name: Abelseth M..., survival prediction 0
name: Davison Mr..., survival prediction 0
name: Chaudanson..., survival prediction 0
name: Dika Mr Mi..., survival prediction 0
name: McCrae Mr ..., survival prediction 0
name: Bjorklund ..., survival prediction 0
name: Bradley Mi..., survival prediction 0
name: Ryerson Ma..., survival prediction 0
name: Corey Mrs ..., survival prediction 0
name: Burns Miss..., survival prediction 0
name: Moore Mr C..., survival prediction 0
name: Tucker Mr ..., survival prediction 0
name: Fortune Mr..., survival prediction 0
name: Mulvihill ..., survival prediction 0
name: Minkoff Mr..., survival prediction 0
name: Nieminen M..., survival prediction 0
name: Ovies y Ro..., survival prediction 0
name: Geiger Mis..., survival prediction 0
name: Keeping Mr..., survival prediction 0
name: Miles Mr F..., survival prediction 0
name: Cornell Mr..., survival prediction 0
name: Aldworth M..., survival prediction 0
name: Doyle Miss..., survival prediction 0
name: Boulos Mas..., survival prediction 0
name: Straus Mr ..., survival prediction 0
name: Case Mr Ho..., survival prediction 0
name: Demetri Mr..., survival prediction 0
name: Lamb Mr Jo..., survival prediction 0
name: Khalil Mr ..., survival prediction 0
name: Barry Miss..., survival prediction 0
name: Badman Mis..., survival prediction 0
name: O'Donoghue..., survival prediction 0
name: Wells Mast..., survival prediction 0
name: Dyker Mrs ..., survival prediction 0
name: Pedersen M..., survival prediction 0
name: Davidson M..., survival prediction 0
name: Guest Mr R..., survival prediction 0
name: Birnbaum M..., survival prediction 0
name: Tenglin Mr..., survival prediction 0
name: Cavendish ..., survival prediction 0
name: Makinen Mr..., survival prediction 0
name: Braf Miss ..., survival prediction 0
name: Nancarrow ..., survival prediction 0
name: Stengel Mr..., survival prediction 0
name: Weisz Mr L..., survival prediction 0
name: Foley Mr W..., survival prediction 0
name: Johansson ..., survival prediction 0
name: Thomas Mrs..., survival prediction 0
name: Holthen Mr..., survival prediction 0
name: Buckley Mr..., survival prediction 0
name: Ryan Mr Ed..., survival prediction 0
name: Willer Mr ..., survival prediction 0
name: Swane Mr G..., survival prediction 0
name: Stanton Mr..., survival prediction 0
name: Shine Miss..., survival prediction 0
name: Evans Miss..., survival prediction 0
name: Buckley Mi..., survival prediction 0
name: Straus Mrs..., survival prediction 0
name: Chronopoul..., survival prediction 0
name: Thomas Mr ..., survival prediction 0
name: Sandstrom ..., survival prediction 0
name: Beattie Mr..., survival prediction 0
name: Chapman Mr..., survival prediction 0
name: Watt Miss ..., survival prediction 0
name: Kiernan Mr..., survival prediction 0
name: Schabert M..., survival prediction 0
name: Carver Mr ..., survival prediction 0
name: Kennedy Mr..., survival prediction 0
name: Cribb Miss..., survival prediction 0
name: Brobeck Mr..., survival prediction 0
name: McCoy Miss..., survival prediction 0
name: Bowenur Mr..., survival prediction 0
name: Petersen M..., survival prediction 0
name: Spinner Mr..., survival prediction 0
name: Gracie Col..., survival prediction 0
name: Lefebre Mr..., survival prediction 0
name: Thomas Mr ..., survival prediction 0
name: Dintcheff ..., survival prediction 0
name: Carlsson M..., survival prediction 0
name: Zakarian M..., survival prediction 0
name: Schmidt Mr..., survival prediction 0
name: Drapkin Mi..., survival prediction 0
name: Goodwin Mr..., survival prediction 0
name: Goodwin Mi..., survival prediction 0
name: Daniels Mi..., survival prediction 0
name: Ryerson Mr..., survival prediction 0
name: Beauchamp ..., survival prediction 0
name: Lindeberg-..., survival prediction 0
name: Vander Pla..., survival prediction 0
name: Hilliard M..., survival prediction 0
name: Davies Mr ..., survival prediction 0
name: Crafton Mr..., survival prediction 0
name: Lahtinen R..., survival prediction 0
name: Earnshaw M..., survival prediction 0
name: Matinoff M..., survival prediction 0
name: Storey Mr ..., survival prediction 0
name: Klasen Mrs..., survival prediction 0
name: Asplund Ma..., survival prediction 0
name: Duquemin M..., survival prediction 0
name: Bird Miss ..., survival prediction 0
name: Lundin Mis..., survival prediction 0
name: Borebank M..., survival prediction 0
name: Peacock Mr..., survival prediction 0
name: Smyth Miss..., survival prediction 0
name: Touma Mast..., survival prediction 0
name: Wright Mis..., survival prediction 0
name: Pearce Mr ..., survival prediction 0
name: Peruschitz..., survival prediction 0
name: Kink-Heilm..., survival prediction 0
name: Brandeis M..., survival prediction 0
name: Ford Mr Ed..., survival prediction 0
name: Cassebeer ..., survival prediction 0
name: Hellstrom ..., survival prediction 0
name: Lithman Mr..., survival prediction 0
name: Zakarian M..., survival prediction 0
name: Dyker Mr A..., survival prediction 0
name: Torfa Mr A..., survival prediction 0
name: Asplund Mr..., survival prediction 0
name: Brown Miss..., survival prediction 0
name: Sincock Mi..., survival prediction 0
name: Stengel Mr..., survival prediction 0
name: Becker Mrs..., survival prediction 0
name: Compton Mr..., survival prediction 0
name: McCrie Mr ..., survival prediction 0
name: Compton Mr..., survival prediction 0
name: Marvin Mrs..., survival prediction 0
name: Lane Mr Pa..., survival prediction 0
name: Douglas Mr..., survival prediction 0
name: Maybery Mr..., survival prediction 0
name: Phillips M..., survival prediction 0
name: Davies Mr ..., survival prediction 0
name: Sage Miss ..., survival prediction 0
name: Veal Mr Ja..., survival prediction 0
name: Angle Mr W..., survival prediction 0
name: Salomon Mr..., survival prediction 0
name: van Billia..., survival prediction 0
name: Lingane Mr..., survival prediction 0
name: Drew Maste..., survival prediction 0
name: Karlsson M..., survival prediction 0
name: Spedden Ma..., survival prediction 0
name: Nilsson Mi..., survival prediction 0
name: Baimbrigge..., survival prediction 0
name: Rasmussen ..., survival prediction 0
name: Murphy Mis..., survival prediction 0
name: Danbom Mas..., survival prediction 0
name: Astor Col ..., survival prediction 0
name: Quick Miss..., survival prediction 0
name: Andrew Mr ..., survival prediction 0
name: Omont Mr A..., survival prediction 0
name: McGowan Mi..., survival prediction 0
name: Collett Mr..., survival prediction 0
name: Rosenbaum ..., survival prediction 0
name: Delalic Mr..., survival prediction 0
name: Andersen M..., survival prediction 0
name: Finoli Mr ..., survival prediction 0
name: Deacon Mr ..., survival prediction 0
name: Howard Mrs..., survival prediction 0
name: Andersson ..., survival prediction 0
name: Head Mr Ch..., survival prediction 0
name: Mahon Miss..., survival prediction 0
name: Wick Mr Ge..., survival prediction 0
name: Widener Mr..., survival prediction 0
name: Thomson Mr..., survival prediction 0
name: Duran y Mo..., survival prediction 0
name: Reynolds M..., survival prediction 0
name: Cook Mrs S..., survival prediction 0
name: Karlsson M..., survival prediction 0
name: Candee Mrs..., survival prediction 0
name: Moubarek M..., survival prediction 0
name: Asplund Mr..., survival prediction 0
name: McNeill Mi..., survival prediction 0
name: Everett Mr..., survival prediction 0
name: Hocking Mr..., survival prediction 0
name: Sweet Mr G..., survival prediction 0
name: Willard Mi..., survival prediction 0
name: Wiklund Mr..., survival prediction 0
name: Linehan Mr..., survival prediction 0
name: Cumings Mr..., survival prediction 0
name: Vendel Mr ..., survival prediction 0
name: Warren Mr ..., survival prediction 0
name: Baccos Mr ..., survival prediction 0
name: Hiltunen M..., survival prediction 0
name: Douglas Mr..., survival prediction 0
name: Lindstrom ..., survival prediction 0
name: Christy Mr..., survival prediction 0
name: Spedden Mr..., survival prediction 0
name: Hyman Mr A..., survival prediction 0
name: Johnston M..., survival prediction 0
name: Kenyon Mr ..., survival prediction 0
name: Karnes Mrs..., survival prediction 0
name: Drew Mr Ja..., survival prediction 0
name: Hold Mrs S..., survival prediction 0
name: Khalil Mrs..., survival prediction 0
name: West Miss ..., survival prediction 0
name: Abrahamsso..., survival prediction 0
name: Clark Mr W..., survival prediction 0
name: Salander M..., survival prediction 0
name: Wenzel Mr ..., survival prediction 0
name: MacKay Mr ..., survival prediction 0
name: Mahon Mr J..., survival prediction 0
name: Niklasson ..., survival prediction 0
name: Bentham Mi..., survival prediction 0
name: Midtsjo Mr..., survival prediction 0
name: de Messema..., survival prediction 0
name: Nilsson Mr..., survival prediction 0
name: Wells Mrs ..., survival prediction 0
name: Klasen Mis..., survival prediction 0
name: Portaluppi..., survival prediction 0
name: Lyntakoff ..., survival prediction 0
name: Chisholm M..., survival prediction 0
name: Warren Mr ..., survival prediction 0
name: Howard Mis..., survival prediction 0
name: Pokrnic Mr..., survival prediction 0
name: McCaffry M..., survival prediction 0
name: Fox Mr Pat..., survival prediction 0
name: Clark Mrs ..., survival prediction 0
name: Lennon Mis..., survival prediction 0
name: Saade Mr J..., survival prediction 0
name: Bryhl Miss..., survival prediction 0
name: Parker Mr ..., survival prediction 0
name: Faunthorpe..., survival prediction 0
name: Ware Mr Jo..., survival prediction 0
name: Oxenham Mr..., survival prediction 0
name: Oreskovic ..., survival prediction 0
name: Peacock Ma..., survival prediction 0
name: Fleming Mi..., survival prediction 0
name: Touma Miss..., survival prediction 0
name: Rosblom Mi..., survival prediction 0
name: Dennis Mr ..., survival prediction 0
name: Franklin M..., survival prediction 0
name: Snyder Mr ..., survival prediction 0
name: Mardirosia..., survival prediction 0
name: Ford Mr Ar..., survival prediction 0
name: Rheims Mr ..., survival prediction 0
name: Daly Miss ..., survival prediction 0
name: Nasr Mr Mu..., survival prediction 0
name: Dodge Dr W..., survival prediction 0
name: Wittevrong..., survival prediction 0
name: Angheloff ..., survival prediction 0
name: Laroche Mi..., survival prediction 0
name: Samaan Mr ..., survival prediction 0
name: Loring Mr ..., survival prediction 0
name: Johansson ..., survival prediction 0
name: Olsson Mr ..., survival prediction 0
name: Malachard ..., survival prediction 0
name: Phillips M..., survival prediction 0
name: Pokrnic Mr..., survival prediction 0
name: McCarthy M..., survival prediction 0
name: Crosby Mrs..., survival prediction 0
name: Allison Mr..., survival prediction 0
name: Aks Master..., survival prediction 0
name: Hays Mr Ch..., survival prediction 0
name: Hansen Mrs..., survival prediction 0
name: Cacic Mr J..., survival prediction 0
name: Vartanian ..., survival prediction 0
name: Sadowitz M..., survival prediction 0
name: Carr Miss ..., survival prediction 0
name: White Mrs ..., survival prediction 0
name: Hagardon M..., survival prediction 0
name: Spencer Mr..., survival prediction 0
name: Rogers Mr ..., survival prediction 0
name: Jonsson Mr..., survival prediction 0
name: Jefferys M..., survival prediction 0
name: Andersson ..., survival prediction 0
name: Krekorian ..., survival prediction 0
name: Nesson Mr ..., survival prediction 0
name: Rowe Mr Al..., survival prediction 0
name: Kreuchen M..., survival prediction 0
name: Assam Mr A..., survival prediction 0
name: Becker Mis..., survival prediction 0
name: Rosenshine..., survival prediction 0
name: Clarke Mr ..., survival prediction 0
name: Enander Mr..., survival prediction 0
name: Davies Mrs..., survival prediction 0
name: Dulles Mr ..., survival prediction 0
name: Thomas Mr ..., survival prediction 0
name: Nakid Mrs ..., survival prediction 0
name: Cor Mr Iva..., survival prediction 0
name: Maguire Mr..., survival prediction 0
name: de Brito M..., survival prediction 0
name: Elias Mr J..., survival prediction 0
name: Denbury Mr..., survival prediction 0
name: Betros Mas..., survival prediction 0
name: Fillbrook ..., survival prediction 0
name: Lundstrom ..., survival prediction 0
name: Sage Mr Jo..., survival prediction 0
name: Cardeza Mr..., survival prediction 0
name: van Billia..., survival prediction 0
name: Abelseth M..., survival prediction 0
name: Botsford M..., survival prediction 0
name: Whabee Mrs..., survival prediction 0
name: Giles Mr R..., survival prediction 0
name: Walcroft M..., survival prediction 0
name: Greenfield..., survival prediction 0
name: Stokes Mr ..., survival prediction 0
name: Dibden Mr ..., survival prediction 0
name: Herman Mr ..., survival prediction 0
name: Dean Miss ..., survival prediction 0
name: Julian Mr ..., survival prediction 0
name: Brown Mrs ..., survival prediction 0
name: Lockyer Mr..., survival prediction 0
name: O'Keefe Mr..., survival prediction 0
name: Lindell Mr..., survival prediction 0
name: Sage Maste..., survival prediction 0
name: Mallet Mrs..., survival prediction 0
name: Ware Mrs J..., survival prediction 0
name: Strilic Mr..., survival prediction 0
name: Harder Mrs..., survival prediction 0
name: Sage Mrs J..., survival prediction 0
name: Caram Mr J..., survival prediction 0
name: Riihivouri..., survival prediction 0
name: Gibson Mrs..., survival prediction 0
name: Pallas y C..., survival prediction 0
name: Giles Mr E..., survival prediction 0
name: Wilson Mis..., survival prediction 0
name: Ismay Mr J..., survival prediction 0
name: Harbeck Mr..., survival prediction 0
name: Dodge Mrs ..., survival prediction 0
name: Bowen Miss..., survival prediction 0
name: Kink Miss ..., survival prediction 0
name: Cotterill ..., survival prediction 0
name: Hipkins Mr..., survival prediction 0
name: Asplund Ma..., survival prediction 0
name: O'Connor M..., survival prediction 0
name: Foley Mr J..., survival prediction 0
name: Risien Mrs..., survival prediction 0
name: McNamee Mr..., survival prediction 0
name: Wheeler Mr..., survival prediction 0
name: Herman Mis..., survival prediction 0
name: Aronsson M..., survival prediction 0
name: Ashby Mr J..., survival prediction 0
name: Canavan Mr..., survival prediction 0
name: Palsson Ma..., survival prediction 0
name: Payne Mr V..., survival prediction 0
name: Lines Mrs ..., survival prediction 0
name: Abbott Mas..., survival prediction 0
name: Gilbert Mr..., survival prediction 0
name: Kink-Heilm..., survival prediction 0
name: Smith Mrs ..., survival prediction 0
name: Colbert Mr..., survival prediction 0
name: Frolicher-..., survival prediction 0
name: Larsson-Ro..., survival prediction 0
name: Conlon Mr ..., survival prediction 0
name: Bonnell Mi..., survival prediction 0
name: Gale Mr Ha..., survival prediction 0
name: Gibson Mis..., survival prediction 0
name: Carrau Mr ..., survival prediction 0
name: Frauenthal..., survival prediction 0
name: Nourney Mr..., survival prediction 0
name: Ware Mr Wi..., survival prediction 0
name: Widener Mr..., survival prediction 0
name: Riordan Mi..., survival prediction 0
name: Peacock Mi..., survival prediction 0
name: Naughton M..., survival prediction 0
name: Minahan Mr..., survival prediction 0
name: Henriksson..., survival prediction 0
name: Spector Mr..., survival prediction 0
name: Oliva y Oc..., survival prediction 0
name: Saether Mr..., survival prediction 0
name: Ware Mr Fr..., survival prediction 0
name: Peter Mast..., survival prediction 0

In [176]:
save_df = pd.DataFrame(predictions)
save_df.to_csv('predictions.csv', index=False)